<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Limbo Microstep-用户注册</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/admin/component/pear/css/pear.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/admin/admin/css/other/login.css') }}"/>
</head>
<!-- 代 码 结 构 -->
<body background="{{ url_for('static', filename='/admin/admin/images/background.svg') }}"
      style="background-size: cover;">
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" src="{{ url_for('static', filename='/admin/admin/images/logo.png') }}"/>
        <div class="title">Limbo Microstep</div>
        <div class="desc">
            千 里 之 行 , 始 于 足 下
        </div>
    </div>
    <div class="layui-form-item">
        <input name="username" type="username" placeholder="用 户 名 : 恶意注册的用户会被封禁处理,不允许输入网络违禁词" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="email" type="text" placeholder="账 户 : 请输入邮箱账号 " hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="password" type="password" placeholder="密 码 : 密码长度为6~18位,由英文(大小写)、数字、特殊字符组成" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="验证码 : " name="code" hover class="code layui-input layui-input-inline"/>
        <img src="{{ url_for('passport.get_captcha') }}" class="codeImage" id="captchaImage"/>
<!--        <button class="codeImage">发送</button>-->
    </div>
    <div class="layui-form-item">
        <a href="/passport/login" target="_blank">已有账户,前去登录?</a>
        <!--        <input type="checkbox" name="remember-me" title="已有账户,前去登录" lay-skin="primary">-->
    </div>
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-success login" lay-submit lay-filter="register">
            注册
        </button>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;
        let captchaPath = "{{ url_for('passport.get_captcha') }}";

        form.on('submit(register)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.register'});
            $.ajax({
                data: data.field,
                type: "post",
                dataType: 'json',
                success: function (result) {
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "{{ url_for('admin.index') }}";
                            })
                        } else {
                            popup.failure(result.msg, function () {
                                document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
                            });
                        }
                    })
                }
            });
            return false;
        });

        $("#captchaImage").click(function () {
            document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
        });
        setInterval(function () {
            document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
        }, 30 * 1000);
    })
</script>
<script>
    if (window !== top) {
        top.location.href = location.href;
    }
</script>
</body>
</html>