<!DOCTYPE html>
<html>
<head>
    <title>新增令牌</title>
    {% include 'admin/common/header.html' %}</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">令牌:</label>
                    <div class="layui-input-block">
                        <input type="text" name="app_id" lay-verify="title" autocomplete="off" placeholder="请输入pushplus+(推送加)令牌!"
                               class="layui-input">
                    </div>
                </div>
                </select>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="role-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {

        let form = layui.form
        let $ = layui.jquery
        var laydate = layui.laydate;

        laydate.render({
            elem: '#datetime'
            , type: 'datetime'
        });
         laydate.render({
            elem: '#time'
            , type: 'time'
        });

        form.on('submit(role-save)', function (data) {
            $.ajax({
                url: '/push/plus/save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('role-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>